# JWT Configuration
JWT_SECRET=asdasdasdassdqefe8565656565asdasf4gg5g54g644wstg7erh
JWT_EXPIRES_IN=7d

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://wrmkijqvcdlxianvba.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndybWtpanF2Y2RkbHhpYW5odmJhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3OTE0OTgsImV4cCI6MjA3MjM2NzQ5OH0.6Z7nwtihiG_gTkAfE7g2KJgdbyw9z2wXLfg5Ave7amE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndybWtpanF2Y2RkbHhpYW5odmJhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Njc5MTQ5OCwiZXhwIjoyMDcyMzY3NDk4fQ.gPSjmmcGt35BpnS2DhgoK-X09sKmDhoUGehHvF4WBTg
